*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.macro-box-up{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: chartreuse;
    display: flex;
}

.sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main-box{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgb(20, 25, 35);
    overflow-y: scroll;
    z-index: 1;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    z-index: 1;
    position: fixed;
}

header{
    width: calc(100% - 200px);
    height: 100px;
    background-color: black;
    z-index: 3;
    opacity: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-bar{
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.music-box{
    margin-top: 130px;
}

.logo{
    margin-top: 20px;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    background-image: url(img/logo.svg);
    color: white;
}

.home-box{
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.home img, .cerca img, .libreria img{
    width: 26px;
    float: left;
}

.txt-home{
    color: white;
    float: left;
    margin-top: 7px;
    margin-left: 4px;
}

.cerca, .libreria{
    margin-top: 10px;
}

.playlist{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.playlist p{
    color: white;
    font-size: 13px;
}

.crea-playlist p{
    font-size: 13px;
    float: left;
    margin-top: 15px;
}

.più:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f0fe";
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-size: 45px;
    float: left;
}

.crea-playlist{
    margin-top: 15px;
    opacity: 60%;
}

.home {
    opacity: 60%;
}

.cerca{
    opacity: 60%;
}

.libreria{
    opacity: 60%;
}

.nome-playlist{
    margin-top: 80px;
}

.txt-playlist{
    color: white;
    opacity: 60%;
    margin-top: 10px;
}

.side-footer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download img{
    width: 20px;
    float: left;
}

.download p{
    color: white;
    font-size: 10px;
    float: left;
    margin-top: 3px;
}

.download{
    opacity: 60%;
    margin-bottom: 5px;
}

.hr{
    width: 180px;
    border-bottom: white;
    border-width: 1px;
    border-style: solid;
    height: 1px;
    margin-left: 42px;
}

.profilo img{
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
    float: left;
}

.profilo p{
    color: white;
    float: left;
    margin-top: 6px;
    margin-left: 4px;
}

.profilo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-music li{
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 10px;
    opacity: 60%;
}

.header-music ul{
    margin-top: 25px;
    width: calc(100vw - 200px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.music-box h1{
    font-size: 25px;
    color: white;
    margin-left: 50px;
    margin-top: 60px;
}

.recently-song{
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.song{
    height: 11vw;
}

.song-info{
    width: 11vw;
    margin-left: 2%;
}

.name{
    color: white;
    padding-top: 15px;
}

.subtitle{
    color: white;
    padding-top: 15px;
    opacity: 50%;
    font-size: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggerimenti{
    margin-left: 50px;
}

.round{
    border-radius: 50%;
}

.popolari{
    margin-bottom: 30px;
}

.upgrade{
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    color: white;
    width: 230px;
    margin-right: 40px;
}

.player{
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: rgb(53, 53, 53);
}

.player-sx, .player-dx{
    width: 200px;
    height: 100px;
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.player-cn{
    width: calc(100vw - 400px);
    height: 100px;
    background-color: rgb(53, 53, 53);
}

.mini-song{
    height: 60%;
}

.mini-name{
    color: white;
    font-size: 14px;
}

.mini-info{
    margin-left: 3px;
}

.mini-subtitle{
    color: white;
    font-size: 12px;
    opacity: 60%;
}

.heart:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 1;
    content: "\f004";
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-size: 15px;
    float: left;
    margin-left: 3px;
    opacity: 60%;
}

.folder:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 1;
    content: "\f07b";
    color: rgb(255, 255, 255);
    font-size: 15px;
    float: left;
    opacity: 60%;
}

.list:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f0ca";
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.monitor:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f108";
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 8px;
}

.audio:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f028";
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 8px;
}

.aplayer-dx input{
    width: 100px;
    background-color: grey;
}

.random:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f074";
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 8px;
}

.pre:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f048";
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 8px;
    margin: 8px;
}

.play:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 1;
    content: "\f144";
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left: 12px;
    margin-right: 12px;
}

.after:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f051";
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 8px;
}

.repeat:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f01e";
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 8px;
}

.player-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-cn input{
    width: 60%;
    margin-top: 10px;
}

.player-cn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-dw{
    width: calc(100vw - 400px);
    display: flex;
    justify-content: center;
}

.player-dw p{
    color: white;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
}








@media screen and (max-width: 575px) {

    .sidebar{
        width: 50px;
    }
  
    .main-box{
        width: calc(100% - 50px);
        height: calc(100vh - 100px);
        background-color: coral;
        overflow-y: scroll;
    }

    .txt-home, .playlist, .txt-sidef, .profilo p{
        display: none;
    }    

    .home-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

   .hr{
       border-width: 0px;
   }
    
   .side-footer{
       margin-left: 3px;
   }

   .logo{
       background-image: url(img/logo-small.svg);
       width: 29px;
       margin-left: 10px;
       background-repeat: no-repeat;
   }

   .player-dx, .player-cn, .player-sx{
       width: calc(100vw / 3);
   }

   .player-dw{
       width: calc(100vw / 3);
   }
  }